@font-face {
	font-family: Poppins-Medium;
	src: url(Poppins-Medium.ttf);
}
@font-face{
	font-family: Poppins-Bold;
	src: url(Poppins-Bold.ttf);
}
@font-face{
	font-family: Poppins-Light;
	src: url(Poppins-Light.ttf);
}
body, html
{
	font-family: Poppins-Light;
	height: 100%;
	margin: 0;
	padding: 0;
}
table{
	margin: 0px 0px 0px 0px;
}
.highlighted-input{
	border-color: blue;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px blue;
}
.form-control:focus{
	border-color: blue;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px blue;
}
.form-control-error{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px red;
}
.form-control-good:focus {
	border-color: blue;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px blue;
  }
 .form-control-error:focus {
	border-color:red;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px red;
  }
  .slika-div:hover{
	border-color: blue;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px blue;
  }
  .slikax:hover{
	  cursor: pointer;
  }
  .plusminus:hover{
	  cursor: pointer;
  }
  .pointer-cursor:hover{
	  cursor: pointer
  }
  .fade-enter-active, .fade-leave-active {
	transition: opacity .3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
  }
.container-login {
	width: 100%;  
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #9052c4;
	background: linear-gradient(-135deg, #c852c3, #4152d3);
  }
  .limiter {
	width: 100%;
	margin: 0 auto;
  }
  .wrap-login {
	width: 20%;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 75px 50px 75px;
  }
  .login-span{
	font-family: Poppins-Bold;
	font-size: 24px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
  
	width: 100%;
	display: block;
	padding-bottom: 54px;
  }
  .login-input {
	font-family: Poppins-Medium;
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
	display: block;
	width: 100%;
	background: #e6e6e6;
	height: 50px;
	border-radius: 25px;
	padding: 0 30px 0 20px;
  }
  .login-btn {
	font-family: Poppins-Medium;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	border-color: gray;
	background: #57b846;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 25px;
	transition: all 0.4s;
  }
  .login-btn:hover{
	background: #333333;
  }
  .symbol {
	font-size: 15px;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 25px;
	width: 30%;
	height: 25px;
	padding-left: 35px;
	pointer-events: none;
	color: #666666;
	transition: all 0.4s;
  }
  .error-message {
	  color: red
  }

  .height-row{
	  height: 100px;
  }
  .height-row:hover{
	  cursor: pointer;
  }
  #map {
	height: 100%;
  }
  .brojac {
	width:200px;
  }
  .rounded-right-3{
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
  }
  .rounded-left-3{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
  }
  .input-border-0{
	border: 0px;
  }
  .input-border-0:focus{
	outline: none;
  }
  .overflow{
	overflow-x: auto;
    white-space: nowrap;
  }
  .calendar-window{
	background-color: white;
	border-radius: 5px;
	width:300px;
	height:100%;
	position:relative;
	left:-110px;
  }
  .cena-window{
	background-color: white;
	width:330px;
	height:140px;
	border-radius: 5px;
	position: relative;
	left:-110px;
  }
  .gosti-window{
	background-color: white;
	width:260px;
	height:60px;
	border-radius: 5px;
	position: relative;
	left:50px;
  }
  .search{
	  background-image: url("/icons/pozadina8.jpg");
	  background-size: cover;
  }
  .shadow{
	box-shadow: 0 2px 16px rgba(0,0,0,0.15);
  }
  .search-target{
	  background-color: #f8f9fa;
  }
  .search-target:hover{
	background-color: lightgray;
  }
  .arrow-top {
	margin-top: 10px;
  }
  .arrow-top:after {
	content: " ";
	position: absolute;
	top: -15px;
	border-top: none;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid white;
  }
  .calendar-window.arrow-top:after{
	right: 135px;
  }
  .cena-window.arrow-top:after{
	right: 150px;
  }
  .gosti-window.arrow-top:after{
	right: 120px;
  }
  .pregled-slike{
	border-radius: 15px;
  }